@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Require.js Test</title>
    <script data-main="@Url.Content("~/App/js/main.js")" src="@Url.Content("~/App/js/lib/require.js")"></script>
</head>

<body>
    <h1>TEST</h1>
    <ul>
        <li>Request.Url.Authority = @Request.Url.Authority</li>
        <li>Url.Content("~") = @Url.Content("~")</li>
        <li>HttpRuntime.AppDomainAppVirtualPath = @HttpRuntime.AppDomainAppVirtualPath</li>
        <li>HttpRuntime.AppDomainAppPath = @HttpRuntime.AppDomainAppPath</li>
    </ul>

    <div>
        <p>
            First name: <input data-bind="value: firstName" />
        </p>
        <p>
            First name capitalized: <strong data-bind="text: firstNameCaps"></strong>
        </p>
    </div>
</body>

</html>
